# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lab2_PhysicsFormulas/lab2/lab2.vcxproj.filters
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
lab2_PhysicsFormulas/.vs/lab2/v15/.suo
lab2_PhysicsFormulas/.vs/lab2/v15/Browse.VC.db
lab2_PhysicsFormulas/.vs/lab2/v15/Browse.VC.opendb
lab2_PhysicsFormulas/.vs/lab2/v15/ipch/AutoPCH/3ece0a98549b615/FUNCTIONS.ipch
lab2_PhysicsFormulas/.vs/lab2/v15/ipch/AutoPCH/e6da99d4096fc9a1/FANCTIONS.ipch
lab2_PhysicsFormulas/.vs/lab2/v15/ipch/AutoPCH/fc8f5d40b2c4dbaf/MAIN.ipch
lab2_PhysicsFormulas/.vs/main/v15/.suo
lab2_PhysicsFormulas/.vs/main/v15/Browse.VC.db
lab2_PhysicsFormulas/.vs/main/v15/ipch/AutoPCH/2a298a5bacbe920b/MAIN.ipch
lab2_PhysicsFormulas/.vs/main/v15/ipch/AutoPCH/52e41530be2b36e2/FUNCTIONS.ipch
lab2_PhysicsFormulas/.vs/main/v15/ipch/AutoPCH/5bcbce30cb9cef25/FANCTIONS.ipch
lab2_PhysicsFormulas/.vs/main/v15/ipch/AutoPCH/75d0010847ed47a8/MAIN.ipch
lab2_PhysicsFormulas/Header1.h
lab2_PhysicsFormulas/lab2.sln
lab2_PhysicsFormulas/lab2/Debug/lab2.log
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/CL.command.1.tlog
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/CL.read.1.tlog
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/CL.write.1.tlog
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/lab2.lastbuildstate
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/link.command.1.tlog
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/link.read.1.tlog
lab2_PhysicsFormulas/lab2/Debug/lab2.tlog/link.write.1.tlog
lab2_PhysicsFormulas/lab2/lab2.vcxproj
lab2_PhysicsFormulas/lab2/lab2.vcxproj.user
